:root{
    --gray: #ffffffb3;   
    --red: #ed1c24;
    --white: #ffffff;
 }

 /* navbar */

.logo{
    margin-top: 5px;
    margin-left: 100px;
}

.container-1 {
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -94px;
    flex-wrap: wrap;
    text-wrap: wrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0px 0px 0.5px 0px;
    border-color:transparent transparent #1b1919 transparent;
    border-style: solid;
}
.box {
    margin: 24px 16px;
    color: aliceblue;
    font-size: medium;
}
.box:hover{
    cursor: pointer;
}
.box > a {
    text-decoration: none;
    color: var(--white);
}


.icon{
    height: 30px;
    width: 30px;
    margin-left: -125px;
    background-color: #ffffff;
    padding: 7px 7px;
    border-radius: 20px;
    color: #e21c23;
}
.top-nav{
    height: 58px;
    width: 155px;
    border: 1px solid var(--white);
    padding: 17px 21px;
    border-radius: 50px;
    margin-right: -8px;
}
.order{
    height: 55px;
    width: 165px;
    border: none;
    padding: 17px 21px;
    border-radius: 50px;
    background-color: var(--red);
}
.order:hover{
    background-color: #e21c23;
    color: aliceblue;
}
.online-order{
    margin-right: 80px;
}


/* publication section */
.publication-section{
    width: 100%;
    height: 1300px;
    background-color: #000;
}

.publication-book{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.publication-book-1{
    border: 1px solid #524d4d;
    height: 500px;
    width: 500px;
}
.publication-book-1 > img{
    height: 450px;
    width: 500px;
    text-align: center;
    padding-top: 50px;
}
.publication-book-1 > img:hover{
    height: 480px;
    width: 520px;
    margin-top:-10px;
    transition-duration: 0.5s;
}

.publication-book-2{
    border: 1px solid #524d4d;
    height: 500px;
    width: 500px;
}
.publication-book-2 > img{
    height: 450px;
    width: 500px;
    text-align: center;
    padding-top: 50px;
}
.publication-book-2 > img:hover{
    height: 480px;
    width: 520px;
    margin-top:-10px;
    transition-duration: 0.5s;
}

.available-branch-text{
    margin-top: 30px;
}
.available-branch-text > p{
    line-height: 30px;
}


/* footer section */
.footer-data-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: -500px;
}
.footer-section{
    width: 100%;
    height: 505px;
    background-color: #0f0f0f;
}
.footer-monogram{
    padding-top: 108px;
    margin-left: 30px;
    background-position: bottom;
}
.footer-logo{
    height: 60px;
    width: 130px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.Policy{
    line-height: 30px;
    margin-left: 10px;
}

.footer-link-box {
    margin-top: 95px;
}

.link{
    font-size: 18px;
    line-height: 40px;
} 
.link > a{
    text-decoration: none;
    color: var(--gray);  
}
.contact-box {
    margin-top: 95px;
}
.icons-box{
    margin-top: 95px;
}

/* social icon */

.f-icon{
    color: #ffffff;
    background-color: #ED1C24;
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding: 13px 0 0 14px;
    margin-top: 15px;
}
.inst-icon{
    color: #ffffff;
    background-color: #ED1C24;
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding: 13px 0 0 13px;
}
.twitter-icon{
    color: #ffffff;
    background-color: #ED1C24;
    text-decoration: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding: 13px 0 0 13px;
}
.app-store-download{
    margin: 35px 0 20px 0;
}

.footer-bottom{
    height: 50px;
    width: 94%;
    margin: 0 auto;
    margin-top: 40px;
    background-color: transparent;
    border: 1px 0 0 0;
    border-style: solid none none none;
    border-color: #2524249f transparent transparent transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom > h6{
    font-size: 13px;
    margin: 0px 100px;
}